%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %a.navbar-brand{href: "/"}
        = ENV['DEMO_APP_NAME']

/ .navbar.navbar-default{role: 'navigation'}
/   .navbar-header
/     %a.navbar-brand{href: "/"}
/       = ENV['DEMO_APP_NAME']