//this is an example of setting a variable
$filename_color: #2897a0

body
  background: #FFF
  color: #000
  font-family: 'Open Sans', sans-serif

h1
  font-weight: 300
  color: #666

.filename
  h4
    a
      color: $filename_color
      font-weight: 100