//this is an example of setting a variable
$box_blue: #3278cf

body
  font-family: 'Open Sans', sans-serif
  background-color: #FEE334

.navbar-inverse
  background-color: $box_blue
  border-color: $box_blue
  border-radius: 0px
  .navbar-brand
    font-size: 150%
    color: white
  .username
    margin-top: 14px
    text-align: right
    color: white
    img
      margin-top: -3px

.footer
  height: 50px
  text-align: right
  font-size: 120%
  color: #DDD
  .navbar
    background-color: #333
    .logout
      margin-top: 12px
      a
        color: white

.btn-primary
  background-color: $box_blue
  border-color: $box_blue

.signInPadding
  top: 300px

.signin-button
  margin-top: 100px

h1
  font-weight: 300
  color: #666

h3
  font-weight: 300
  color: #666

.items-listing
  .item-name
    h4
      a
        font-weight: 100

.doc-details
  .key
    text-align: right
    font-weight: bold
  .value
    font-family: 'Courier'